<!--The content below is only a placeholder and can be replaced.-->

<mat-drawer-container autosize>
  <mat-drawer #drawer mode="over">
    <mat-list>
      <mat-list-item>
          <button mat-button (click)="drawer.toggle()" routerLink="home"><mat-icon>home</mat-icon> Accueil</button>
        </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <button mat-button (click)="drawer.toggle()" routerLink="race-create"><mat-icon>add</mat-icon> Créer course</button>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
    <p>Choisissez votre course</p>
    <mat-list>
      <span *ngFor="let race of races">
        <mat-list-item>
          <button mat-button (click)="drawer.toggle()" [routerLink]="['race', race.id]">{{ race.name }}</button>
        </mat-list-item>
        <mat-divider></mat-divider>
      </span>
    </mat-list>
  </mat-drawer>

  <mat-toolbar>
    <button mat-icon-button color="warn" (click)="drawer.toggle()">
      <mat-icon aria-label="menu">favorite</mat-icon>
    </button>
    <span>{{ title }}!</span>
  </mat-toolbar>

  <router-outlet></router-outlet>

</mat-drawer-container>